body {
    text-align: center;
    font-size: 25px;
}

#all {
    height:50px;
    width: 700px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

.d {
    height:90px;
    width: 700px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 40px;
    padding-bottom: 30px;
}

.t {
    height:80px;
    width: 700px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 40px;
    padding-bottom: 40px;
}

#stop {
    font-size: 25px;
    margin-top: 20px;
}